$hover-green: #54f782;
.card {
    height: 100%;
    background-color: #f2f2f2;

    table {
        border-collapse: collapse;
        width: 100%;
        tr {
        }
        td {
            text-align: center;
            background-color: white;
            border: 10px solid #f2f2f2;
            height: 100px;
            span {
                color: red;
            }
        }
        .already {
            opacity: 0.5;
        }
        .no-yet {
            // background-color: white;
        }
        td:hover {
            background-color: $hover-green;
            cursor: pointer;
        }
    }
}
