.card {
    height: 100%;
    background-color: #f2f2f2;

    table {
        border-collapse: collapse;
        width: 100%;
        tr {
        }
        td {
            text-align: center;
            background-color: white;
            border: 10px solid #f2f2f2;
            height: 100px;
        }
        td:hover {
            background-color: #54f782;
        }
    }
}
